.buyButton {
  /* width: 100%; */
}

.imgPlaceholder{ 
  background-color: #eee;
  display: flex;
  height: 198px;
  margin: 0.5rem;
  width: 128px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

