.bookCover {
  display: block;
  max-width: 230px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.imgPlaceholder{ 
  background-color: #eee;
  display: flex;
  height: 100px;
  margin: 0.5rem;
  width: 66px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.suggestionButton {
  min-height: 162px;
}